<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.foodie" version="1.5.0">



    <name>Foodie</name>
    <description>Foodie App</description>
    <author href="https://build.phonegap.com" email="atifrashid@hotmail.com">Atif Rashid</author>

	
	<accesss origin="*" />
	<allow-navigation href = "http://mobileapi.foodiesys.com/*" />	
	<plugin name="cordova-plugin-whitelist" version="1"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>

	
</widget>
